<h2>Add a New Todo</h2>
<form action='/todo' method='post' class='form'>
  <p>
    <label>
      <p><textarea name='title'></textarea></p>
    </label>
    <p>
      <button type='submit' class='add-todo-button'>ADD</button>
    </p>
  </p>
</form>

{{> main-page}}